.save-btn {
  float: right;
  color: navy;
  font-family: "Oswald", sans;
  border: 2px solid gray;
  border-radius: 4px;
  padding: 6px;
  margin: 4px;
}
.save-btn:hover {
	background-color: lightgray;
}
.save-btn:visited {
	background-color: green;
	color: green;
}