.delete-btn {
  float: right;
  color: orange;
  font-family: "Oswald", sans;
  border: 2px solid gray;
  border-radius: 4px;
  padding: 6px;
  margin: 4px;
}
.delete-btn:hover {
	background-color: orange;
}
